/* Phone Input Light Theme */
.phone-input-light .PhoneInputInput {
    background-color: transparent;
    color: #111827;
    /* gray-900 */
    border: none;
}

.phone-input-light .PhoneInputInput:focus {
    outline: none;
}

.phone-input-light .PhoneInputCountrySelect {
    color: #111827;
}

/* Tooltip */
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position above */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}